@{ 
    List<string> list = ViewBag.Tabulka;
}

<div>@{
    foreach (string s in list)
    {
        @s<br/>
    }
}</div>

<div class="jumbotron">
    <h1>Tvoříme webové aplikace</h1>
    <p class="lead">Tvoříme jednoduché a moderní webové stránky a aplikace na míru v .Netu</p>

</div>

<div class="row marketing">
    <div class="col-lg-6">
        <a href="@Url.Action("WebPages","Home")"><h4>Webové stránky</h4></a>
        <p>Tvoříme moderní, jednoduché a přehledné webové stránky, které zaujmou každého návštěvníka.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
        <a href="@Url.Action("WebApp","Home")"><h4>Webové aplikace</h4></a>
        <p>Vyvíjíme webové aplikace na zakázku. Od informačních systémů až po aplikace pro analýzu dat.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
</div>

