
<div class="jumbotron">
    <h1>Webové aplikace</h1>
    <p class="lead">VYVÍJÍME WEBOVÉ APLIKACE NA ZAKÁZKU

Zabýváme se také tvorbou internetových aplikací na míru, podle přání klienta. Nejčastěji se jedná o informační systém malého rozsahu, databázové aplikace a redakční systémy:

webové aplikace na zakázku, informační systémy malého rozsahu
redakční, evidenční systémy a systémy pro archivaci dokumentů
zpracování návrhu webového projektu (schéma, technické specifikace)
aplikace pro analýzu dat, databázové aplikace
grafické - interaktivní mapy objektů</p>
</div>