
<div class="jumbotron">
    <h1>Webové stránky</h1>
    <p class="lead">Tvoříme moderní, jednoduché a přehledné webové stránky, které zaujmou každého návštěvníka. Pokud přemýšlíte nad webovými stránkami, kontakujte nás pro konzultaci zdarma. Nejdříve vyslechneme Vaše požavky a následně zpracujeme ideální návrh. Vytvoříme grafický design tak, aby odpovídal Vašim představám a podkladům. Následně webové stránky vyplníme obsahem, připojíme web k redakčnímu systému a kompletně se postaráme o provoz webu.</p>
</div>